
      :root {
        --speed: 30s;
        --bounce: 1.5s;
      }
      body {
        background-color: #000;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
        perspective: 12em;
        /* the angle of view on X axis it 50% on Y axis its 3em above from 50% of y*/
        perspective-origin: 50% calc(50% - 3em);
        overflow: hidden;
      }

      .box {
        /* it contains all this floor, cube, ball */
        position: relative;
        transform-style: preserve-3d;
        animation: Jatin var(--speed) infinite linear;
      }

      @keyframes Jatin {
        to {
          transform: rotateY(360deg);
        }
      }

      .floor {
        position: absolute;
        top: 1em;
        transform: translate(-50%, -50%) rotateX(90deg);
        height: 14em;
        width: 14em;
        background-image: radial-gradient(#0000, #000 65%),
          repeating-conic-gradient(
            from 45deg,
            rgb(8, 8, 8) 0deg 90deg,
            #222 90deg 180deg
          );
        background-size: 100%, 1em 1em;
      }
      .cube {
        /* it contains all six sides but it is hidden  , try it urself give it color you can see*/
        width: 2em;
        height: 2em;
        transform-style: preserve-3d;
        position: absolute;
        bottom: -1em;
        left: -1em;
        animation: cubeHeight var(--bounce) infinite linear;
      } 
      @keyframes cubeHeight {
        0%,
        100% {
          height: 1.5em;
        }
        7%,
        93% {
          height: 2em;
          animation-timing-function: ease-in;
        }
      }
      /* six sides of cube */
      .right,
      .left,
      .front,
      .back,
      .top,
      .bottom {
        position: absolute;
        height: 2em;
        width: 2em;
        background-color: rgba(21, 255, 0, 0.3);
        box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.7);
      }
      .top {
        position: absolute;
        transform: translateY(-50%) rotateX(90deg);
      }
      .bottom {
        background-color: transparent;
        position: absolute;
        transform: translateY(50%) rotateX(90deg);
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.788);
      }
      .front {
        transform: translateZ(1em);
      }

      .back {
        transform: translateZ(-1em);
      }
      .right {
        transform: rotateY(90deg) translateZ(1em);
      }
      .left {
        transform: rotateY(-90deg) translateZ(1em);
      }
      .ball {
        position: absolute;
        bottom: 0.5em;
        left: -0.5em;
        background-image: radial-gradient(
          circle at top,
          rgb(248, 41, 41),
          #000
        );
        height: 1em;
        width: 1em;
        border-radius: 50%;
        animation: 
          Ball var(--speed) infinite linear,
          Bounce var(--bounce) ease-out infinite;
      }
      @keyframes Ball {
        to {
          transform: rotateY(-360deg);
        }
      }
      @keyframes Bounce {
        0%,
        100% {
          bottom: 0.5em;
        }
        50% {
          bottom: 3em;
          animation-timing-function: ease-in;
        }
      }
      .ballshadow {
        position: absolute;
        height: 2em;
        width: 2em;
        background-image: radial-gradient(#0007, #0000 70%);
        animation: shadow var(--bounce) ease-out infinite;
      }

      @keyframes shadow {
        0%,
        7%,
        93%,
        100% {
          transform: scale(1);
          opacity: 1;
        }
        50% {
          transform: scale(1.5);
          opacity: 0.7;
        }
      }
